@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hamburger button Classes */
  .hamburgerBtn {
    @apply before:-translate-x-[40%] after:-translate-x-[60%] 
    after:top-[9px] after:content-[''] after:w-8 after:h-1  after:absolute  after:rounded-full  before:-top-[9px];
  }

  .animatedHamburgerBtn {
    @apply rotate-45 before:rotate-90 before:-translate-x-[50%];
  }
}

.hover-primary :hover {
  color: #00ab55;
  transition: all ease-in-out 0.3s;
}

.hover-lightblue :hover {
  color: #2e6ffd;
  transition: all ease-in-out 0.3s;
}
.hover-red :hover {
  color: #e02c2c;
  transition: all ease-in-out 0.3s;
}
.hover-orange :hover {
  color: #b74f07;
  transition: all ease-in-out 0.3s;
}
.hover-darkBlue :hover {
  color: #063cb1;
  transition: all ease-in-out 0.3s;
}
.hover-purple :hover {
  color: #701490;
  transition: all ease-in-out 0.3s;
}

/* animating loading spinner */

.loader {
  width: 120px;
  height: 120px;
  position: relative;
  animation-name: animate-bg;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

.loader-span {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  background: #00ff0a;
  transform-origin: center;
  box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
    0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  animation-delay: 0;
  animation-name: animate-loader;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes animate-bg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes animate-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
